.chat-container {
  width: 100%;
}

.header-chat {
  font-size: 1.2em;
  padding-left: 1em;
}

.data-chat {
  height: calc(100vh - 90px);
  overflow: auto;
}

.group {
  height: calc(100vh - 90px);
}

.list-group-item:focus,
.list-group-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  outline: none;
}

.list-group-item {
  border: 0;
}

input:focus,
button:focus {
  outline: none;
}

.ms-msg {
  height: calc(100vh - 206px);
  width: 100%;
}

/* CHAT */
.chat-thread {
  width: 98%;
  padding-top: 2vh;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px;
  border-radius: 10px;
  background-color: #745af2;
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #745af2;
}

.sender {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #fff;
  font-weight: 500;
}

.sender:before {
  right: -80px;
}

.sender:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.transmitter {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #fff;
  font-weight: 500;
}

.transmitter:before {
  left: -80px;
}

.transmitter:after {
  border-left: 15px solid transparent;
  left: -15px;
}
