.chat-container {
  width: 100%;
}

.header-chat {
  font-size: 1.2em;
  padding-left: 1em;
}

.data-chat {
  height: calc(100vh - 100px);
  overflow: auto;
}

.group {
  height: calc(100vh - 100px);
}

.list-group-item:focus,
.list-group-item:hover {
  background: rgba(0, 188, 126, .1);
  outline: none;
  text-decoration: none;
}

.list-group-item:focus .list-group-item-heading,
.list-group-item:hover .list-group-item-heading {
  color: #00bc7e;
}

.list-group-item {
  border: 0;
  background-color: #151617;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

.ms-msg {
  height: 100%;
  width: 100%;
}

/* CHAT */
.chat-thread {
  padding-top: 2vh;
  width: 98%;
}

.chat-thread li {
  background-color: #00bc7e;
  border-radius: 10px;
  clear: both;
  display: inline-block;
  font: 16px/20px;
  margin: 0 0 20px 0;
  padding: 16px 40px 16px 20px;
  position: relative;
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  border-top: 15px solid #00bc7e;
  content: '';
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
}

.sender {
  animation: show-chat-odd 0.15s 1 ease-in;
  color: #fff;
  float: right;
  font-weight: 550;
  margin-right: 80px;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
}

.sender:before {
  right: -80px;
}

.sender:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.transmitter {
  animation: show-chat-even 0.15s 1 ease-in;
  color: #fff;
  float: left;
  font-weight: 550;
  margin-left: 80px;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
}

.transmitter:before {
  left: -80px;
}

.transmitter:after {
  border-left: 15px solid transparent;
  left: -15px;
}
