<!-- center posts -->
<div class="col-md-12" style="height: calc(100vh - 38px); background-color: #151617;">
  <div class="row">

    <div class="col-md-3 group">
      <a class="list-group-item">
        <div class="list-group-item-heading">chatT.nombre chatT.apellido </div>
        <small class="list-group-item-text" style="color: #838e95;"> BOT </small>
      </a>
    </div>

    <div class="col-md-9" style="border-left: 1px solid #1e2024;">
      <div class="data-chat animate__animated animate__fadeInUp">
        <ul class="chat-thread">

          <li class="transmitter animate__animated animate__fadeInBottomLeft">msg.contenido</li>
          <li class="sender animate__animated animate__fadeInBottomRight">msg.contenido</li>

        </ul>
      </div>

      <div class="container form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Press enter to send" name="Contenido">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end  center posts -->
