<div class="error-header"> </div>
<div class="container">
  <section class="error-container text-center">
    <h1 class="animate__animated animate__fadeInDown">404</h1>
    <div class="error-divider animate__animated animate__fadeInUp">
      <h2>PAGE NOT FOUND.</h2>
      <p class="description">We Couldn't Find This Page</p>
    </div>
    <button type="submit" class="button outline animate__animated animate__fadeInUp" routerLink="/">
      <span class="text-label">
        <i class="fa fa-home"></i>Home
      </span>
    </button>
  </section>
</div>
