<!-- section start -->
<section class="error-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <div class="error-img">
          <img src="assets/images/404/1.png" class="img-fluid lazyload first-img" alt="">
          <img src="assets/images/404/2.png" class="img-fluid lazyload second-img" alt="">
          <img src="assets/images/404/3.png" class="img-fluid lazyload third-img" alt="">
        </div>
        <div class="error-content">
          <p>the page you requested could not be found</p>
          <a class="btn btn-solid btn-lg" routerLink="/">back to home</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->
