/*===================== USER LIST TABLE ===================*/
.user-list tbody td>img {
  /* float: left; */
  /* margin-right: 15px; */
  max-width: 75px;
  position: relative;
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}

/* TABLES */
.table {
  border-collapse: separate;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
  background-color: #151617;
}

.table thead>tr>th {
  border-bottom: 2px solid #00bc7e;
  padding-bottom: 0;
}

.table tbody>tr>td {
  background: #151617;
  border-bottom: 1px solid #bec6cf;
  border-top: 10px solid #131414;
  font-size: 0.875em;
  padding: 12px 8px;
  vertical-align: middle;
}

.table tbody>tr>td:first-child,
.table thead>tr>th:first-child {
  padding-left: 20px;
}
