<div class="row">
  <div class="center">
    <h1>Friend Requests</h1>
  </div>
</div>

<!-- loader -->
<app-loader *ngIf="loading"></app-loader>
<!-- end loader -->

<div class="widget" *ngIf="!loading">
  <div class="table-responsive">
    <table class="table user-list">
      <thead>
        <tr>
          <th class="text-center"><span>Photo</span></th>
          <th class="text-center"><span>User</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <ng-template ngFor let-request [ngForOf]="requests">
          <tr>
            <td align="center">
              <img src="{{getPicture(request)}}" alt="">
            </td>
            <td class="text-center">
              <h5>@{{request.nickname}}</h5>
              <!-- <span class="user-subhead">Admin</span> -->
            </td>
            <td>
              <div class="input-group mb-3 d-flex justify-content-center">
                <button type="submit" class="button outline" (click)="addFriend(request.friendshipID)">
                  <span class="text-label">Confirm</span>
                </button>
                <button type="submit" class="button outline" (click)="reject(request.friendshipID)">
                  <span class="text-label">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</div>
