<div class="col-md-12 col-md-offset-2">
  <div class="row">
    <div class="center">
      <h1>People You May Know</h1>
    </div>
  </div>
  <br>

  <!-- loader -->
  <app-loader *ngIf="loading"></app-loader>
  <!-- end loader -->

  <div class="row" *ngIf="!loading">
    <ng-template ngFor let-suggestion [ngForOf]="suggestions">
      <div class="col-md-3">
        <div class="contact-box center-version">
          <div class="contact-box-header">
            <img alt="image" class="img-circle" src="{{getPicture(suggestion)}}">
            <h3 class="m-b-xs"><strong>@{{suggestion.nickname}}</strong></h3>
            <!-- <div class="font-bold">Graphics designer</div> -->
          </div>
          <div class="contact-box-footer">
            <div class="m-t-xs btn-group" (click)="addFriend(suggestion.userID)">
              <i-feather class="icon" name="user-plus"></i-feather>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

</div>
