<div class="box profile-info n-border-top">
  <form>
    <textarea class="input-lg p-text-area" placeholder="Whats in your mind today?" rows="3" maxlength="250"></textarea>
  </form>

  <div class="box-footer box-form d-flex flex-row-reverse">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather class="icon" name="paperclip"></i-feather>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather class="icon" name="send"></i-feather>
        </a>
      </li>
    </ul>
  </div>
</div>
