<div class="box profile-info n-border-top">
  <form>
    <textarea class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"
      style="height: 104px;"></textarea>
  </form>

  <div class="box-footer box-form d-flex bd-highlight">
    <div class="align-self-center">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i-feather name="camera" style="width: 20px;"></i-feather>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i-feather name="video" style="width: 20px;"></i-feather>
          </a>
        </li>
      </ul>
    </div>


    <div class="ms-auto p-2 bd-highlight">
      <button type="button" class="btn btn-azure">Post</button>
    </div>
  </div>
</div>
