<!-- login section start -->
<section class="login-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-5 d-none d-lg-block">
        <div class="login-welcome">
          <div>
            <img src="assets/images/login/charcter.png" class="img-fluid blur-up lazyload" alt="charcter">
            <h1>Welcome friend!</h1>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
        <div class="login-form">
          <div>
            <div class="login-title">
              <h2>Register</h2>
            </div>
            <div class="login-discription">
              <h3>Hello Everyone</h3>
              <h4>Welcome to U-Social, create your account below to start using U-Social.</h4>
            </div>
            <div class="form-sec">
              <div>
                <form class="theme-form">
                  <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" placeholder="Type your nickname">
                    <i-feather class="input-icon iw-20 ih-20" name="user"></i-feather>
                  </div>

                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Type your name">
                    <i-feather class="input-icon iw-20 ih-20" name="user"></i-feather>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Type your e-mail">
                    <i-feather class="input-icon iw-20 ih-20" name="mail"></i-feather>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword1">Create password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="New password">
                    <i-feather class="input-icon iw-20 ih-20" name="eye"></i-feather>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword2">Confirm password</label>
                    <input type="password" class="form-control" id="inputPassword2"
                      placeholder="Confirm your new password">
                    <i-feather class="input-icon iw-20 ih-20" name="eye"></i-feather>
                  </div>

                  <div class="btn-section">
                    <a href="#" class="btn btn-solid btn-lg btn-block" style="width: 100%;">sign up</a>
                  </div>

                  <div class="bottom-sec" style="margin-top: 25px;">
                    <a class="ms-auto forget-password" routerLink="/auth/login">
                      Do you have an account? Log In.
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- login section end -->
