<div class="profile-nav">
  <div class="widget">
    <div class="widget-body">
      <div class="user-heading round">
        <a routerLink="/">
          <img [src]="imagePreview" [alt]="user.nickname">
        </a>
        <h1>@{{user.nickname}}</h1>
        <!-- <p>@username</p> -->
      </div>
      <ul class="nav nav-pills flex-column">

        <ng-template ngFor let-link [ngForOf]="links">
          <li>
            <a class="flex-sm-fill nav-link" [routerLink]="link.route" routerLinkActive="router-link-active">
              <i-feather class="icon" name="{{link.icon}}"></i-feather>
              &nbsp;
              {{link.title}}
            </a>
          </li>
        </ng-template>

        <li>
          <a class="flex-sm-fill nav-link" (click)="logOut()" routerLinkActive="router-link-active">
            <i-feather class="icon" name="log-out"></i-feather>
            &nbsp;
            Log out
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
