/*================== home profile nav ===============*/
.profile-nav .user-heading {
  background: #1e2024;
  border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 4px 4px 0 0;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading a img {
  border-radius: 50%;
  height: 112px;
  width: 112px;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}

.profile-nav ul {
  margin-top: 1px;
}

.profile-nav ul>li {
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul>li:last-child {
  border-bottom: none;
}

.profile-nav ul>li>a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #bec6cf;
  border-left: 5px solid #1e2024;
}

.profile-nav ul>li>a:hover,
.profile-nav ul>li>a:focus,
.profile-nav ul li.active a {
  background: rgba(0, 188, 126, .1) !important;
  border-left: 5px solid #00bc7e;
  color: #00bc7e !important;
}

.profile-nav ul>li:last-child>a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul>li>a>i {
  color: #bec6cf;
  font-size: 16px;
  padding-right: 10px;
}

.icon {
  width: 20px;
}

.profile-nav ul>li>a:hover .icon,
.profile-nav ul>li>a:focus .icon,
.profile-nav ul li.active .icon {
  stroke: #00bc7e;
}

h1 {
  margin-top: 10px;
}
