/*====================== Timeline posts ================*/
.p-text-area {
  border-radius: 0px;
  font-size: 16px;
  resize: vertical;
  transition: none;
  resize: none;
}

.p-text-area:focus {
  border-color: transparent;
  box-shadow: 0 0 transparent;
}

.box-widget {
  border: none;
  position: relative;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #151617;
  border-top: 3px solid #00bc7e;
  margin-bottom: 25px;
  width: 100%;
  box-shadow: 0 1px 1px #151617;
}

.box-header.with-border {
  border-bottom: 1px solid #1e2024;
}

.box-header {
  display: block;
  padding: 10px;
  position: relative;
}

.box-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 75vh;
}

.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}

.user-block .username {
  font-size: 16px;
  font-weight: 600;
}

.user-block .description {
  font-size: 13px;
}

.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-body {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.pad {
  padding: 10px;
}

.box-comments {
  background: #151617 !important;
}

.box-footer {
  border-top: 1px solid #1e2024;
  padding: 10px;
  background-color: #151617;
}

.box-comments .box-comment:first-of-type {
  padding-top: 0;
}

.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #1e2024;
}

.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}

.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}

.box-comments .comment-text {
  margin-left: 40px;
}

.box-comments .username {
  color: #00bc7e;
  display: block;
  font-weight: 600;
}

.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}

.img-sm+.img-push {
  margin-left: 40px;
}

.box-form {
  padding: 10px 15px;
  background-color: #151617;
  border-top: 1px solid #1e2024;
}

.n-border-top {
  border-top: none !important;
}
